.vscode
__pycache__
*.pyc
*.egg-info
venv
example_dataset/labels
example_dataset/images
example_dataset/sam
sam_weights/*
images/*
sam/*
model_weights/*
example_dataset/UI_processed_images.json
example_dataset/images_to_process.txt
